{% extends "base.html" %}

{% block navigation %}
    {% include "navigationbar.html" %}
{% endblock %}

{% block content %}

    <style type="text/css">
        .error-template {padding: 40px 15px;text-align: center;}
        .error-actions {margin-top:15px;margin-bottom:15px;}
        .error-actions .btn { margin-right:10px; }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h2>Se ha cerrado la sesión</h2>
                    <div class="error-details">
                    </div>
                    <div class="error-actions">
                        <a href="/login" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                            Iniciar nueva sesión </a><a href="mailto:info@interactuamovil.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Ayuda </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}