{% extends "base.html" %}
{% load static %}

{% block navigation %}
    {% include "navigationbar.html" %}
{% endblock %}

{% block content %}
    {% if type == "black" %}
        <h1>Listas negras</h1>
    {% elif type == "white" %}
        <h1>Listas blancas</h1>
    {% endif %}
    <hr />
    {% if message == "save_ok" %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Guardado!</strong> Los cambios fueron almacenados exitosamente.
        </div>
    {% elif message == "delete_ok" %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Eliminado!</strong> La lista fue eliminada.
        </div>
    {% endif %}
    <table class="table table-striped table-hover">
        <tr>
            <th>Nombre</th>
            <th>Fecha de actualización</th>
            <th>Cantidad de registros</th>
            <td>Comentario</td>
            <th>
                {% if perms.broadcaster.lists_edit %}
                <a class="btn btn-success" href="/lists/{{ type }}/new"><span class="glyphicon glyphicon-plus"> New</span></a>
                {% endif %}
            </th>
        </tr>
        {% for l in lists %}
            <tr>
                <td>{{ l.name }}</td>
                <td>{{ l.upload_date }}</td>
                <td>{{ l.volume }}</td>
                <td>{{ l.comment }}</td>
                <td>
                    <a class="btn btn-primary" href="/lists/{{ type }}/edit/{{ l.list_id }}"><span class="glyphicon glyphicon-pencil"></span></a>
                    {% if perms.broadcaster.lists_delete %}
                    <a class="btn btn-danger" href="/lists/{{ type }}/remove/{{ l.list_id }}"><span class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <button class="btn btn-danger" onclick="window.close()">Cerrar</button>
{% endblock %}

{% block body_end %}
    <script type="application/javascript">
    $(function() {
                $("li.{{ type }}").removeClass( "{{ type }}" ).addClass( "active" );
                $(".datetimepicker").datetimepicker({
                    pickTime: false
                });
            }
    );
    </script>
{% endblock %}